body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto; }
  body > div, html > div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #779ECB;
    color: #2a2a2a;
    position: relative; }
  body > div:nth-of-type(2n), html > div:nth-of-type(2n) {
    color: #779ECB;
    background-color: #2a2a2a; }
    body > div:nth-of-type(2n) .card > div, html > div:nth-of-type(2n) .card > div {
      border-color: #779ECB; }
  body > div:first-of-type, html > div:first-of-type {
    background: #779ECB url("../images/lg/background.jpg") no-repeat fixed center;
    background-size: cover; }
    @media (max-width: 800px) {
      body > div:first-of-type, html > div:first-of-type {
        background: #779ECB url("../images/sm/background.jpg") no-repeat fixed center;
        background-size: cover; } }
    @media (min-width: 800px) and (max-width: 1024px) {
      body > div:first-of-type, html > div:first-of-type {
        background: #779ECB url("../images/md/background.jpg") no-repeat fixed center;
        background-size: cover; } }
    @media (min-width: 1280px) {
      body > div:first-of-type, html > div:first-of-type {
        background: #779ECB url("../images/xlg/background.jpg") no-repeat fixed center;
        background-size: cover; } }
  body .division-1, body .padded-division-1, html .division-1, html .padded-division-1 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-1, body .padded-division-1, html .division-1, html .padded-division-1 {
        width: 100%; } }
  body .division-2, body .padded-division-2, html .division-2, html .padded-division-2 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-2, body .padded-division-2, html .division-2, html .padded-division-2 {
        width: 100%; } }
  body .division-3, body .padded-division-3, html .division-3, html .padded-division-3 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-3, body .padded-division-3, html .division-3, html .padded-division-3 {
        width: 100%; } }
  body .division-4, body .padded-division-4, html .division-4, html .padded-division-4 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 25%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-4, body .padded-division-4, html .division-4, html .padded-division-4 {
        width: 100%; } }
  body .division-5, body .padded-division-5, html .division-5, html .padded-division-5 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 20%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-5, body .padded-division-5, html .division-5, html .padded-division-5 {
        width: 100%; } }
  body .division-6, body .padded-division-6, html .division-6, html .padded-division-6 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-6, body .padded-division-6, html .division-6, html .padded-division-6 {
        width: 100%; } }
  body .division-7, body .padded-division-7, html .division-7, html .padded-division-7 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-7, body .padded-division-7, html .division-7, html .padded-division-7 {
        width: 100%; } }
  body .division-8, body .padded-division-8, html .division-8, html .padded-division-8 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 12.5%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-8, body .padded-division-8, html .division-8, html .padded-division-8 {
        width: 100%; } }
  body .division-9, body .padded-division-9, html .division-9, html .padded-division-9 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 11.11111%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-9, body .padded-division-9, html .division-9, html .padded-division-9 {
        width: 100%; } }
  body .division-10, body .padded-division-10, html .division-10, html .padded-division-10 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 10%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-10, body .padded-division-10, html .division-10, html .padded-division-10 {
        width: 100%; } }
  body .division-11, body .padded-division-11, html .division-11, html .padded-division-11 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 9.09091%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-11, body .padded-division-11, html .division-11, html .padded-division-11 {
        width: 100%; } }
  body .division-12, body .padded-division-12, html .division-12, html .padded-division-12 {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    position: relative; }
    @media (max-width: 600px) {
      body .division-12, body .padded-division-12, html .division-12, html .padded-division-12 {
        width: 100%; } }
  body .padded-division-1, html .padded-division-1 {
    padding: 10px; }
  body .padded-division-2, html .padded-division-2 {
    padding: 10px; }
  body .padded-division-3, html .padded-division-3 {
    padding: 10px; }
  body .padded-division-4, html .padded-division-4 {
    padding: 10px; }
  body .padded-division-5, html .padded-division-5 {
    padding: 10px; }
  body .padded-division-6, html .padded-division-6 {
    padding: 10px; }
  body .padded-division-7, html .padded-division-7 {
    padding: 10px; }
  body .padded-division-8, html .padded-division-8 {
    padding: 10px; }
  body .padded-division-9, html .padded-division-9 {
    padding: 10px; }
  body .padded-division-10, html .padded-division-10 {
    padding: 10px; }
  body .padded-division-11, html .padded-division-11 {
    padding: 10px; }
  body .padded-division-12, html .padded-division-12 {
    padding: 10px; }
  body .card, html .card {
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative;
    height: 50%; }
    @media (max-width: 600px) {
      body .card, html .card {
        width: 100%; } }
    body .card > div, html .card > div {
      position: absolute;
      height: 80%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: thin solid #779ECB; }

/*# sourceMappingURL=style.css.map */
