@import "variables";
@import "mixins";

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;

  >div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $pastel_blue;
    color: $dark_grey;
    position: relative;
  }

  >div:nth-of-type(2n) {
    color: $pastel_blue;
    background-color: $dark_grey;
  }

  >div:first-of-type {
    @include responsive-background("background.jpg");
  }

  @for $i from 1 through 12 {
    .division-#{$i} {
      @include division($i);
    }
  }

  @for $i from 1 through 12 {
    .padded-division-#{$i} {
      @include division($i);
      padding: 10px;
    }
  }

}